<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ardakaplan.rdalibrarytest">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".TestApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"

        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

<!--        android:requestLegacyExternalStorage="true"-->
        <activity
            android:name=".ui.splash.SplashActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".ui.ThemeTestActivity"
            android:label="Theme Test Screen" />

        <activity
            android:name=".ui.filetest.FileTestActivity"
            android:label="File Test Screen" />

        <activity
            android:name=".ui.language.LanguageTestActivity"
            android:label="Language Test Screen" />

        <activity
            android:name=".ui.fragmentscenerio.FragmentTestActivity"
            android:label="FRAGMENTS" />


    </application>

</manifest>